.card{
  background-color: pink;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.cardcomp{
  background-color: aqua;
  padding: 20px;
  margin: 10px;
  color: black;
}

.navbar{
  background-color: #eb85fb;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}